<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="TE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!--<title>Web App</title>-->
  <title>Thermal Comfort</title>

</head>

<body>
  <form action="/form" method="POST">
  <div class="container">
    <header><h2><center>Result</center></h2></header>

    <br>
    <h3>Predicted TA: <span style="color:red;">{{ Prediction1[0] }}</span></h3>
    <br>
    <h3>Predicted TSV: <span style="color:blue;">{{ Prediction2[0] }}</span></h3>
    <br>

    {% if prediction1==0 %} 
    <h3 style="color: green;">Accept</h3>
    <img src="./static/GoodDay.jpeg" alt="">
    {% elif prediction1==1 %}
    <h3 style="color: green;">Unaccept</h3>
    <img src="./static/BadDay.jpeg" alt="">
    {% endif %}

<!--    {% if prediction2==2.00 <= 2.50 %}     
    <font style="font-size: 16px;"><strong>รู้สึกค่อนข้างร้อน</strong></font>
    {% elif prediction1==3 %}
    <font style="font-size: 16px;"><strong>รู้สึกร้อนมาก</strong></font>
    {% endif %}-->

  </div>
  </form>
</body>
</html>
