<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="TE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!--<title>Web App</title>-->
  <title>Thermal Comfort</title>

</head>

<body>
  <form action="/form" method="POST">
  <div class="container">
    <header><h2><center>Result</center></h2></header>

    <br>
    <h3>Predicted TA: <span style="color:red;">{{ prediction1[0] }}</span></h3>
    <br>
    <h3>Predicted TSV: <span style="color:blue;">{{ prediction2[0].round(2) }}</span></h3>
    <br>

    {% if prediction==Accept %}     
    <img src="./static/GoodDay.jpeg" alt="">
    {% elif prediction==Unaccept %}
    <img src="./static/BadDay.jpeg" alt="">
    {% endif %}

  </div>
  </form>
</body>
</html>
