<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="TE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link rel="stylesheet" href="style.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>Web App</title>
  <!--<title>Thermal Comfort</title>-->
</head>

<body>
  <div class="container">
    <header><h2>Information</h2></header>

    <!--<form action="#">-->
    <form action="{{url_for('form_info')}}" method="POST" enctype="multipart/form-data">
      <div class="form first">
        <div class="details personal">
          <span class="title"><font style="font-size: 20px;"><strong>Personal Factors</strong></font></span>

          <div class="fields">
<!--            <div class="gender-field">
              <span class="gender-title"><font style="font-size: 16px;"><strong>Gender</strong></font></span>
              <div class="category">
                <input type="radio" name="gender" id="dot-1">
                <label for="dot-1"> Male </label>
                <input type="radio" name="gender" id="dot-2">
                <label for="dot-2"> Female </label>
              </div>
            </div> -->
            
            <div class="input-field">
              <label for="gender"><font style="font-size: 16px;"><strong>Gender<br></strong></font></label>
              <select id="gender" type="text" name="Gender" placeholder="Select your area" required>

                <option value="0"> ชาย</option>
                <option value="1"> หญิง</option>
              </select>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>Age</strong></font></label>
              <input id="ticketNum" type="text" name="Age" value="" placeholder="Enter your age" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>Weight</strong></font></label>
              <input id="ticketNum" type="text" name="Weight" value="" placeholder="Enter your weight" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>Height</strong></font></label>
              <input id="ticketNum" type="text" name="Height" value="" placeholder="Enter your height" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>BMI</strong></font></label>
              <input id="ticketNum" type="text" name="BMI" value="" placeholder="Enter your BMI" required>
            </div>
          </div>
        </div>

        <div class="details ID">
          <span class="title"><font style="font-size: 20px;"><strong>Environmental Factors</font></strong></span>

          <div class="fields">
            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>Temp</strong></font></label>
              <input id="ticketNum" type="text" name="Temp" value="" placeholder="Enter your Temp" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>RH</strong></font></label>
              <input id="ticketNum" type="text" name="RH" value="" placeholder="Enter your %RH" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>V</strong></font></label>
              <input id="ticketNum" type="text" name="V" value="" placeholder="Enter your V" required>
            </div>

            <div class="input-field">
              <label for="ticketNum"><font style="font-size: 16px;"><strong>TMRT</strong></font></label>
              <input id="ticketNum" type="text" name="TMRT" value="" placeholder="Enter your MRT" required>
            </div>

            <div class="input-field">
              <label for="area"><font style="font-size: 16px;"><strong>Area<br></strong></font></label>
              <select id="area" type="text" name="Area" placeholder="Select your area" required>

                <option value="1"> ภายนอก/มีหลังคาคลุม</option>
                <option value="2"> ภายนอก/กลางแจ้ง</option>
                <option value="3"> ภายนอก/ใต้ร่มไม้</option>
                <option value="4"> ภายใต้อาคาร</option>
              </select>
            </div>

            <div class="input-field">
              <label for="seasons"><font style="font-size: 16px;"><strong>Seasons<br></strong></font></label>
              <select id="seasons" type="text" name="Seasons" placeholder="Select your seasons" required>

                <option value="0"> ชาย</option>
                <option value="1"> หญิง</option>
              </select>
            </div>
          </div>

          <div class="buttons">
            <button type="reset" class="resetBtn" ng-click="reset()">Reset</button>

            <button class="nextBtn">
              <!--<span class="btnText">Submit</span>-->
              <a href="{{ url_for('predict') }}" class="btnText">Submit</a>
              <i class="uil uil-navigator"></i>
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</body>
</html>